<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/main.css">
    <link rel="stylesheet" href="static/assets/css/bulma.css"> -->

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.27.0/dist/full.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../static/assets/css/service.css">
<link rel="stylesheet" href="../static/assets/css/style.css">
    <title>Financetrustonlinebank | Homepage</title>
    <style>
      .final img{
        height:13rem;
      }
      .final a{
        background-color: white;
      }
      .final p{
        color: black;
      }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <title>Standardcoinoption | Home</title>
  
    
</head>
<body>
    {% include "nav.html" %}

    <!-- <div class="preloader" id="preloader">
     
      <div class="progress__container" >
        <center>
          <h4 id="progress_label">
              <i style="color: darkgoldenrod;" class='bx bxl-bitcoin' ></i> <h2 id="bibasetext" class="title"><img width="555" src="../static/assets/imgs/illu/Bitcoin logo spinning.gif" alt=""></h2>
          
           </h4>
          <progress id="progress" class="progress is-small" value="0" max="100">20%</progress>
          
        </center>
      </div>
    </div>    -->
  


   
  <section>
  
      <div class="slider">
          <div class="slide_viewer">
            <div class="slide_group">
              <div class="slide">
                <img src="../static/assets/images/ft-financial-control.jpg" alt="">
              </div>
              <div class="slide">
                <img src="../static/assets/images/ft-home-is-whereh-the-cash-is.jpg" alt="">
              </div>
              <div class="slide">
                <img src="../static/assets/images/nav-accounts-02.jpg" alt="">
              </div>
              <div class="slide">
                <img src="../static/assets/images/ft-premium-checking.jpg" alt="">
              </div>
            </div>
          </div>
        </div><!-- End // .slider -->
        
        <div class="slide_buttons">
        </div>
        
        <div class="directional_nav">
          <div class="previous_btn" title="Previous">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
              <g>
                <g>
                  <path fill="#474544" d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
                    c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z"/>
                  <path fill="#474544" d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564	c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"/>
                </g>
              </g>
            </svg>
          </div>
          <div class="next_btn" title="Next">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
              <g>
                <g>
                  <path fill="#474544" d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5	c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288	c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"/>
                  <path fill="#474544" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
                </g>
              </g>
            </svg>
          </div>
        </div><!-- End // .directional_nav -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


</section>

<div class="mid">
<div class="row">
  <div class="column">
      <img class="img1" src="../static/assets/images/icons8-member-50.png" alt="">
      <h1>
          Become a member
      </h1>
  </div>
  <div class="column">
      <img  class="img2"  src="../static/assets/images/icons8-form-64.png" alt="">
      <h1>
          Apply for loan
      </h1>
  </div>
  <div class="column">
      <img  class="img3"  src="../static/assets/images/icons8-map-pin-50.png" alt="">
      <h1>
          find location
      </h1>
  </div>
  <div class="column">
      <img  class="img4"  src="../static/assets/images/icons8-careers-vacancy-64.png" alt="">
      <h1>
          careers
      </h1>
  </div>
</div>
</div>


<div class="final">
  <div class="row">
      <div class="column">
          <a class="relative block bg-black group" href="">
              <img
                class="absolute inset-0 object-cover w-full h-full opacity-75 transition-opacity  group-hover:opacity-50"
                src="../static/assets/images/ft-auto-smart.jpg"
                alt=""
              />
              <div class="relative p-8">
               
                <div class="mt-64">
                  <div
                    class="opacity-0 transition-all transform translate-y-8  group-hover:opacity-100 group-hover:translate-y-0"
                  >
                    <p id="tet" class="text-2xl text-white">
                      Exclusive Credit Card & Debit Card of Real Salt Lake
                      If you believe, you need the exclusive RSL Visa card. It’s a fast, easy.
                    </p>
                  </div>
                </div>
              </div>
            </a>
            
      </div>
      <div class="column">
          <a class="relative block bg-black group" href="">
              <img
                class="absolute inset-0 object-cover w-full h-full opacity-75 transition-opacity  group-hover:opacity-50"
                src="../static/assets/images/ft-heloc-july-2022.jpg"
                alt=""
              />
              <div class="relative p-8">
              
                <div class="mt-64">
                  <div
                    class="opacity-0 transition-all transform translate-y-8  group-hover:opacity-100 group-hover:translate-y-0"
                  >
                    <p id="tet" class="text-2xl text-white">
                      HOME EQUITY LINE OF CREDIT
                      Utilize Your Home's Value
                    </p>
                  </div>
                </div>
              </div>
            </a>
            
      </div>
      <div class="column">
          <a class="relative block bg-black group" href="">
              <img
                class="absolute inset-0 object-cover w-full h-full opacity-75 transition-opacity  group-hover:opacity-50"
                src="../static/assets/images/ft-financial-control.jpg"
                alt=""
              />
              <div class="relative p-8">
                
            
                <div class="mt-64">
                  <div
                    class="opacity-0 transition-all transform translate-y-8  group-hover:opacity-100 group-hover:translate-y-0"
                  >
                    <p id="tet" class="text-2xl text-white">
                      Take Control of your Finances

                      You can make a positive difference this year by resolving to focus on improving your financial health.
                    </p>
                  </div>
                </div>
              </div>
            </a>
            
      </div>
      <div class="column">
          <a class="relative block bg-black group" href="">
              <img
                class="absolute inset-0 object-cover w-full h-full opacity-75 transition-opacity  group-hover:opacity-50"
                src="../static/assets/images/ft-home-is-whereh-the-cash-is.jpg"
                alt=""
              />
              <div class="relative p-8">
               
            
                <div class="mt-64">
                  <div
                    class="opacity-0 transition-all transform translate-y-8  group-hover:opacity-100 group-hover:translate-y-0"
                  >
                    <p id="tet" class="text-2xl text-white">
                      HOME EQUITY LOANS
                    </p>
                  </div>
                </div>
              </div>
            </a>
            
      </div>
  </div>
  <div class="row" id="row2">
      <div class="column">
          <a class="relative block bg-black group" href="">
              <img
                class="absolute inset-0 object-cover w-full h-full opacity-75 transition-opacity  group-hover:opacity-50"
                src="../static/assets/images/ft-health-savings-01.jpg"
                alt=""
              />
              <div class="relative p-8">
               
                <div class="mt-64">
                  <div
                    class="opacity-0 transition-all transform translate-y-8  group-hover:opacity-100 group-hover:translate-y-0"
                  >
                    <p id="tet" class="text-2xl text-white">
                      HOME EQUITY LOANS                      </p>
                  </div>
                </div>
              </div>
            </a>
            
      </div>
      <div class="column">
          <a class="relative block bg-black group" href="">
              <img
                class="absolute inset-0 object-cover w-full h-full opacity-75 transition-opacity  group-hover:opacity-50"
                src="../static/assets/images/ft-privacy.jpg"
                alt=""
              />
              <div class="relative p-8">
               
                <div class="mt-64">
                  <div
                    class="opacity-0 transition-all transform translate-y-8  group-hover:opacity-100 group-hover:translate-y-0"
                  >
                    <p id="tet" class="text-2xl text-white">
                      RISK ALERTS
                      Being vigilant & staying safe
                    </p>
                  </div>
                </div>
              </div>
            </a>
            
      </div>
      <div class="column">
          <a class="bg-gray-200 relative block bg-black group" href="">
              <img
                class="absolute inset-0 object-cover w-full h-full opacity-75 transition-opacity  group-hover:opacity-50"
                src="../static/assets/images/ft-refer-a-friend-2022.jpg"
                alt=""
              />
              <div class="relative p-8">
              
            
                <div class="mt-64">
                  <div
                    class="opacity-0 transition-all transform translate-y-8  group-hover:opacity-100 group-hover:translate-y-0"
                  >
                    <p id="tet" class="text-2xl text-white">
                      GET $50 TO REFER A FRIEND
                    </p>
                  </div>
                </div>
              </div>
            </a>
            
      </div>
      <div class="column">
          <a class="relative block bg-black group" href="">
              <img
                class="absolute inset-0 object-cover w-full h-full opacity-75 transition-opacity  group-hover:opacity-50"
                src="../static/assets/images/ft-build-your-dreams.jpg"
                alt=""
              />
              <div class="relative p-8">
               
                <div class="mt-64">
                  <div
                    class="opacity-0 transition-all transform translate-y-8  group-hover:opacity-100 group-hover:translate-y-0"
                  >
                    <p id="tet" class="text-2xl text-white">
                      MEMBER DEALS & DISCOUNTS
                      Whether you're looking for an affordable date night or you need a fun outing with the whole family.
                      
                      
                    </p>
                  </div>
                </div>
              </div>
            </a>
            
      </div>
  </div>
</div>
<div class="las">
<div class="row">
    <div class="column" id="las">
        <button class="btn btn-wide">
            <img src="../static/assets/images/icons8-member-50.png" alt="">
            Become a Member</button>
    </div>
    <div class="column" id="las">
        <button class="btn btn-wide">
            <img src="../static/assets/images/icons8-form-64.png" alt="">
            Apply for loan</button>
    </div>
    <div class="column" id="las">
        <button class="btn btn-wide">
            <img src="../static/assets/images/icons8-map-pin-50.png" alt="">
            Find Location</button>
    </div>
    <div class="column" id="las">
        <button class="btn btn-wide">
            <img src="../static/assets/images/icons8-careers-vacancy-64.png" alt="">
            Careers</button>
    </div>
</div>
</div>


    {% include "footer.html" %}


  



    
    
    {% include "chat.html" %}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  
    <!-- <script src="static/assets/courosel/bulma-carousel.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../static/assets/js/slider.js"></script>
    <script src="static/assets/js/bibase.js"></script>
    <script src="static/assets/js/custom.js"></script>


    <script>
      const counters = document.querySelectorAll('.value');
        const speed = 200;

counters.forEach( counter => {
   const animate = () => {
      const value = +counter.getAttribute('akhi');
      const data = +counter.innerText;
     
      const time = value / speed;
     if(data < value) {
          counter.innerText = Math.ceil(data + time);
          setTimeout(animate, 1);
        }else{
          counter.innerText = value;
        }
     
   }
   
   animate();
});



    </script>
    <script type="text/javascript" 
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
   </script>
 <script type="text/javascript"> 
  function googleTranslateElementInit() {
 new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
 }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body>
</html>