<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
 
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.27.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/service.css">

    <title>Financetrustonlinebank | loan</title>
</head>
<body>

  {% include "nav.html" %}
      


    <section class="secone">

<img src="../static/assets/images/19_OLB_LandingPg.jpg" alt="">


    </section>
      
    <div class="contain">
        <h1>
            AUTO LOANS
        </h1>
        <p>
            Getting Started is Easy
                </p>
                <div class="column" id="las">
                    <button class="btn btn-wide">
                        <img src="../static/assets/images/icons8-form-64.png" alt="">
                        Apply for loan</button>
                </div>
    </div>
 
    <div class="row">
        <div class="column">
            <div class="conbody">
                <div class="title">
                    Get In Your Dream Car Today
                </div>
                <h3>
                    You've done your research, and you know what vehicle you want to buy; now you need to find the best auto loan available. Financetrustonlinebank members have access to some of the finest lending resources in town. With low interest percentages, affordable monthly payments and local service you can trust, we make it easy to maximize your buying power for your new or pre-owned car, truck or SUV.                </h3>
                <h3>
                </h3>
        
                <h3>
                    At Financetrustonlinebank, we are a different kind of financial institution, providing trusted services that make us the leading Utah car loan provider. And we are now proud to offer excellent Nevada car loan options as well. Stop into one of our many local branches to learn more, apply online or call 1-800-999-3961.                </h3>
            
              
              </div>
        </div>
        <div id="loan" class="column">
            <img  src="../static/assets/images/car.jpg" alt="">
            <h1>
                Lower Your Car Payment
            </h1>
            <p>
                Get the car, truck, or SUV that you need with fast financing from Financetrustonlinebank. We’re offering our low-rate auto loans with no payments for *90 days. You can also refinance your existing vehicle loan to acquire a lower rate or payment.
            </p>
        </div>
    </div>
    <div class="hero h-72">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">New Auto Loans</h1>
            <p class="py-2">
                <ul>
                    <li>Get preapproved before you even talk to a dealer.
                        
                        
                        
                        </li>
                        <li>Know your buying power before visiting the dealership.</li>
                        <li>Benefit from competitive fixed and variable auto loan rates.</li>
                        <li>Enjoy the best in member service, where people come before profit.</li>
                </ul>
            </p>
          </div>
          <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
             <img src="../static/assets/images/car2.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="hero h-72">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Auto Refinance Loans</h1>
            <p class="py-2">
                <ul>
                    <li>Get preapproved before you even talk to a dealer.
                        
                        
                        
                        </li>
                        <li>Know your buying power before visiting the dealership.</li>
                        <li>Benefit from competitive fixed and variable auto loan rates.</li>
                        <li>Enjoy the best in member service, where people come before profit.</li>
                </ul>
            </p>
          </div>
          <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
             <img src="../static/assets/images/car3.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="hero h-72">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Used Auto Loans</h1>
            <p class="py-2">
                <ul>
                    <li>Save money on the vehicle you already drive.
                        
                        
                        
                        </li>
                        <li>Instant online approvals.</li>
                        <li>Flexible rate and term options.
                        </li>
                        <li>Used auto loan rates priced as low as new car rates</li>
                </ul>
            </p>
          </div>
          <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
             <img src="../static/assets/images/car4.jpg" alt="">
            </div>
          </div>
        </div>
      </div>





















    <div class="las">
        <div class="row">
            <div class="column" id="las">
                <button class="btn btn-wide">
                    <img src="../static/assets/images/icons8-member-50.png" alt="">
                    Become a Member</button>
            </div>
            <div class="column" id="las">
                <button class="btn btn-wide">
                    <img src="../static/assets/images/icons8-form-64.png" alt="">
                    Apply for loan</button>
            </div>
            <div class="column" id="las">
                <button class="btn btn-wide">
                    <img src="../static/assets/images/icons8-map-pin-50.png" alt="">
                    Find Location</button>
            </div>
            <div class="column" id="las">
                <button class="btn btn-wide">
                    <img src="../static/assets/images/icons8-careers-vacancy-64.png" alt="">
                    Careers</button>
            </div>
        </div>
        </div>
        
        
        
        {% include "footer.html" %}
        
        
        
        
        
        
        
        <script>
            (function($) { // Begin jQuery
          $(function() { // DOM ready
            // If a link has a dropdown, add sub menu toggle.
            $('nav ul li a:not(:only-child)').click(function(e) {
              $(this).siblings('.nav-dropdown').toggle();
              // Close one dropdown when selecting another
              $('.nav-dropdown').not($(this).siblings()).hide();
              e.stopPropagation();
            });
            // Clicking away from dropdown will remove the dropdown class
            $('html').click(function() {
              $('.nav-dropdown').hide();
            });
            // Toggle open and close nav styles on click
            $('#nav-toggle').click(function() {
              $('nav ul').slideToggle();
            });
            // Hamburger to X toggle
            $('#nav-toggle').on('click', function() {
              this.classList.toggle('active');
            });
          }); // end DOM ready
        })(jQuery); // end jQuery
        </script>
        
        
        
        
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../static/asssets/js/script.js"></script>
        </body>
        </html>