<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
 
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.27.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/service.css">

    <title></title>
</head>
<body>

  {% include "nav.html" %}
   

    <section class="secone">

<img src="../static/assets/images/19_OLB_LandingPg.jpg" alt="">


    </section>
      
    <div class="contain">
        <h1>
            Digital banking services
        </h1>
        <p>
            Get simple, secure, seamless access to your account, without having to visit a branch. America First online baking features user-friendly controls & enhanced security features that will save you time and money.
        </p>
    </div>
    <hr>


    <div class="sectwo">
        <div class="row">
            <div class="column">
                <div class="online">
                    <div class="title">
                        Online sign-up
                    </div>
                    <div class="onlinebody">
                        <p>
                            Enroll through online or mobile banking. Once you’re set up for one, simply log in to the other. Here's how to start on a web browser:
                        </p>
                        <ol>
                            <li><a href=""> Click this link</a>
                            </li>
                            <li>Enter user information</li>
                            <li>Create a password</li>
                            <li>Enter it to verify your identity</li>
                            <li>Setup two-factor authentication</li>
                        </ol>
                        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">Learn more</button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="online">
                    <div class="title">
                        Transfer Funds
                    </div>
                    <div class="onlinebody">
                        <p>
                            With online banking you can quickly & securely move funds within your account or to other America First accounts. You can also transfer money to external accounts.

                        </p>
                        <ol>
                            <li>Easy-to-use interface
                            </li>
                            <li>Fast internal & external transfers</li>
                            
                            <li>View and edit schedule transfers</li>
                          
                        </ol>
                        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="opp">
        <div class="title">
            Convenient Online Applications
        </div>

        <div class="oppbody">
            <p>
                <h3>
                    <a href="">Become A Member</a>
                    - Not only will you benefit from low loan rates, free services that define convenience, and quality products for your needs in all of life's many stages, you'll get so much more when you're a member of America First.
                </h3>
            </p>
            <p>
                <h3>
                    <a href="">Vehicle Loans</a>
                    - America First has low-rate financing options for your complete financial needs.
                </h3>
            </p>
            <p>
                <h3>
                    <a href="">Personal Loans </a>
                    -  Life's constant changes demand that you have financial flexibility, and there's no easier way to get that flexibility than from a Personal Loan from America First.
                </h3>
            </p>
            <p>
                <h3>
                    <a href="">Mortgage Loans </a>
                    - At America First, we are focused on helping you have the best mortgage experience possible. Our new online application is all digital, allowing you to save time and stress when making one of life’s biggest financial decisions.
                </h3>
            </p>
            <p>
                <h3>
                    <a href="">Business Loans and Lines</a>
                    - We understand your need for a trusted financial partner to achieve the level of success you deserve. That's why we offer a variety of low-rate and flexible Business Loans to keep you going or begin your new venture.
                </h3>
            </p>
        </div>
    </div>


<div class="las">
<div class="row">
    <div class="column" id="las">
        <button class="btn btn-wide">
            <img src="../static/assets/images/icons8-member-50.png" alt="">
            Become a Member</button>
    </div>
    <div class="column" id="las">
        <button class="btn btn-wide">
            <img src="../static/assets/images/icons8-form-64.png" alt="">
            Apply for loan</button>
    </div>
    <div class="column" id="las">
        <button class="btn btn-wide">
            <img src="../static/assets/images/icons8-map-pin-50.png" alt="">
            Find Location</button>
    </div>
    <div class="column" id="las">
        <button class="btn btn-wide">
            <img src="../static/assets/images/icons8-careers-vacancy-64.png" alt="">
            Careers</button>
    </div>
</div>
</div>



{% include "footer.html" %}








<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../static/js/script.js"></script>
</body>
</html>