<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/style.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> | Sign up</title>
    <style>
        body{
          
            overflow-x: hidden;
            width: 100%;
        }
        .logincontiner{
            margin-top: -5%;
            background-color: whitesmoke;
            
        }
        .section2{
            margin-top: 10%;
            margin-left: 30%;
            width: 50%;
           
        }
        .card{
            margin-top: -5%;
            width: 50%;
            height: 150rem;
         
        }
        input{
            width: 80%;
            height: 4rem;
            margin-bottom: 8%;
            margin-top: 5%;
            border: 2px solid black;
            background-color:white ;
            color:black;
            font-size: 20px;
            
        }
        select{
            width: 80%;
            height: 4rem;
            margin-bottom: 8%;
            margin-top: 5%;
            border: 2px solid black;
            background-color:white ;
            color:black;
            font-size: 20px;
        }
        .inputconatiner{
            margin-top: 5%;
            color: black;
        }
      .actionbtns{
        width: 50%;
        height: 3rem;
        border: 2px solid black;
        text-align: center;
        font-size: 20px;
        background-color: gray;
        color: white;
        margin-top: 5%;
        margin-left: 25%;
        margin-bottom: 2%;
       
      }
        
    </style>
</head>
<body>

    {% include "nav.html" %}


    <!-- <div class="container">
        <div class="box">
            <div class="columns">
                <div class="column">

                </div>

                <div class="column">

                </div>
            </div>
        </div>
    </div> -->

    <div class="container section2">
       <div class="card">
           <div class="columns">
                <div class="column">
                    <img  src="static/assets/imgs/illu/hero.svg" alt="" srcset="">
                </div>

                <div class="column">
                    <div class="logincontiner">
                        <div class="logologin">               
                             <i class='bx bxl-bitcoin' ></i> <h1 class="title"></h1>
                        </div>

                        <div style="display: none;" id="notification" class="notification is-primary">
                            <button class="delete"></button>
                            <p id="alertmsg"></p>
                          </div>
                    <div class="formcontainer">
                        <div class="inputconatiner">
                            <i class='bx bx-user' ></i>
                            <input type="text" id="fname" placeholder="Fullname">
                        </div>
                        <div class="inputconatiner">
                            <i class='bx bx-user'></i>
                            <input type="text" id="lname" placeholder="lastname">
                        </div>
                        <div class="inputconatiner">
                            <i class='bx bx-envelope'></i>
                            <input type="text" id="email" placeholder="Email">
                        </div>
                        <div class="inputconatiner">
                            <i class='bx bx-phone' ></i>
                            <input type="number" id="phone" placeholder="Phone number">
                        </div>
                        <div class="inputconatiner">
                            <i class='bx bx-calender' ></i>
                            <input type="date" id="dob" placeholder="Date of Birth">
                        </div>
                        <div class="inputconatiner">
                            <select name="gender" id="gender">
                                <option>Sex</option>
						<option value="Male">Male</option>
						<option value="female">Female</option>
						<option value="female">Other</option>
                            </select>
                        </div>
                        <div class="inputconatiner">
                            <i class='bx bx-address'></i>
                            <input type="text" id="house_address" placeholder="House Address">
                        </div>
                        <div class="inputconatiner">
                            
                            <input type="city" id="city" placeholder="city">
                        </div>
                        <div class="inputconatiner">
                          
                            <input type="text" id="postal_code" placeholder="ZipCode/Postal">
                        </div>
                        <div class="inputconatiner">
                           
                            <input type="text" id="country" placeholder="Country">
                        </div>
                        <div class="inputconatiner">
                         
                            <input type="text" id="state" placeholder="state">
                        </div>
                        <div class="inputconatiner">
                            
                            <select required id="currency">
                                <option selected value="">Select Currency</option>
                                <option value="USD">America (United States) Dollars – USD</option>
                                <option value="AFN">Afghanistan Afghanis – AFN</option>
                                <option value="ALL">Albania Leke – ALL</option>
                                <option value="DZD">Algeria Dinars – DZD</option>
                                <option value="ARS">Argentina Pesos – ARS</option>
                                <option value="AUD">Australia Dollars – AUD</option>
                                <option value="ATS">Austria Schillings – ATS</OPTION>
         
                                <option value="BSD">Bahamas Dollars – BSD</option>
                                <option value="BHD">Bahrain Dinars – BHD</option>
                                <option value="BDT">Bangladesh Taka – BDT</option>
                                <option value="BBD">Barbados Dollars – BBD</option>
                                <option value="BEF">Belgium Francs – BEF</OPTION>
                                <option value="BMD">Bermuda Dollars – BMD</option>
         
                                <option value="BRL">Brazil Reais – BRL</option>
                                <option value="BGN">Bulgaria Leva – BGN</option>
                                <option value="CAD">Canada Dollars – CAD</option>
                                <option value="XOF">CFA BCEAO Francs – XOF</option>
                                <option value="XAF">CFA BEAC Francs – XAF</option>
                                <option value="CLP">Chile Pesos – CLP</option>
         
                                <option value="CNY">China Yuan Renminbi – CNY</option>
                                <option value="CNY">RMB (China Yuan Renminbi) – CNY</option>
                                <option value="COP">Colombia Pesos – COP</option>
                                <option value="XPF">CFP Francs – XPF</option>
                                <option value="CRC">Costa Rica Colones – CRC</option>
                                <option value="HRK">Croatia Kuna – HRK</option>
         
                                <option value="CYP">Cyprus Pounds – CYP</option>
                                <option value="CZK">Czech Republic Koruny – CZK</option>
                                <option value="DKK">Denmark Kroner – DKK</option>
                                <option value="DEM">Deutsche (Germany) Marks – DEM</OPTION>
                                <option value="DOP">Dominican Republic Pesos – DOP</option>
                                <option value="NLG">Dutch (Netherlands) Guilders – NLG</OPTION>
         
                                <option value="XCD">Eastern Caribbean Dollars – XCD</option>
                                <option value="EGP">Egypt Pounds – EGP</option>
                                <option value="EEK">Estonia Krooni – EEK</option>
                                <option value="EUR">Euro – EUR</option>
                                <option value="FJD">Fiji Dollars – FJD</option>
                                <option value="FIM">Finland Markkaa – FIM</OPTION>
         
                                <option value="FRF*">France Francs – FRF*</OPTION>
                                <option value="DEM">Germany Deutsche Marks – DEM</OPTION>
                                <option value="XAU">Gold Ounces – XAU</option>
                                <option value="GRD">Greece Drachmae – GRD</OPTION>
                                <option value="GTQ">Guatemalan Quetzal – GTQ</OPTION>
                                <option value="NLG">Holland (Netherlands) Guilders – NLG</OPTION>
                                <option value="HKD">Hong Kong Dollars – HKD</option>
         
                                <option value="HUF">Hungary Forint – HUF</option>
                                <option value="ISK">Iceland Kronur – ISK</option>
                                <option value="XDR">IMF Special Drawing Right – XDR</option>
                                <option value="INR">India Rupees – INR</option>
                                <option value="IDR">Indonesia Rupiahs – IDR</option>
                                <option value="IRR">Iran Rials – IRR</option>
         
                                <option value="IQD">Iraq Dinars – IQD</option>
                                <option value="IEP*">Ireland Pounds – IEP*</OPTION>
                                <option value="ILS">Israel New Shekels – ILS</option>
                                <option value="ITL*">Italy Lire – ITL*</OPTION>
                                <option value="JMD">Jamaica Dollars – JMD</option>
                                <option value="JPY">Japan Yen – JPY</option>
         
                                <option value="JOD">Jordan Dinars – JOD</option>
                                <option value="KES">Kenya Shillings – KES</option>
                                <option value="KRW">Korea (South) Won – KRW</option>
                                <option value="KWD">Kuwait Dinars – KWD</option>
                                <option value="LBP">Lebanon Pounds – LBP</option>
                                <option value="LUF">Luxembourg Francs – LUF</OPTION>
         
                                <option value="MYR">Malaysia Ringgits – MYR</option>
                                <option value="MTL">Malta Liri – MTL</option>
                                <option value="MUR">Mauritius Rupees – MUR</option>
                                <option value="MXN">Mexico Pesos – MXN</option>
                                <option value="MAD">Morocco Dirhams – MAD</option>
                                <option value="NLG">Netherlands Guilders – NLG</OPTION>
                                 
                                <option value="NZD">New Zealand Dollars – NZD</option>
                                <option value="NOK">Norway Kroner – NOK</option>
                                <option value="OMR">Oman Rials – OMR</option>
                                <option value="PKR">Pakistan Rupees – PKR</option>
                                <option value="XPD">Palladium Ounces – XPD</option>
                                <option value="PEN">Peru Nuevos Soles – PEN</option>
                                 
                                <option value="PHP">Philippines Pesos – PHP</option>
                                <option value="XPT">Platinum Ounces – XPT</option>
                                <option value="PLN">Poland Zlotych – PLN</option>
                                <option value="PTE">Portugal Escudos – PTE</OPTION>
                                <option value="QAR">Qatar Riyals – QAR</option>
                                <option value="RON">Romania New Lei – RON</option>
         
                                <option value="ROL">Romania Lei – ROL</option>
                                <option value="RUB">Russia Rubles – RUB</option>
                                <option value="SAR">Saudi Arabia Riyals – SAR</option>
                                <option value="XAG">Silver Ounces – XAG</option>
                                <option value="SGD">Singapore Dollars – SGD</option>
                                <option value="SKK">Slovakia Koruny – SKK</option>
                                 
                                <option value="SIT">Slovenia Tolars – SIT</option>
                                <option value="ZAR">South Africa Rand – ZAR</option>
                                <option value="KRW">South Korea Won – KRW</option>
                                <option value="ESP">Spain Pesetas – ESP</OPTION> 
                                 
                                <option value="SDD">Sudan Dinars – SDD</option>
                                <option value="SEK">Sweden Kronor – SEK</option>
                                <option value="CHF">Switzerland Francs – CHF</option>
                                <option value="TWD">Taiwan New Dollars – TWD</option>
                                <option value="THB">Thailand Baht – THB</option>
                                <option value="TTD">Trinidad and Tobago Dollars – TTD</option>
                                 
                                <option value="TND">Tunisia Dinars – TND</option>
                                <option value="TRY">Turkey New Lira – TRY</option>
                                <option value="AED">United Arab Emirates Dirhams – AED</option>
                                <option value="GBP">United Kingdom Pounds – GBP</option>
                                <option value="USD">United States Dollars – USD</option>
                                <option value="VEB">Venezuela Bolivares – VEB</option>
                                 
                                <option value="VND">Vietnam Dong – VND</option>
                                <option value="ZMK">Zambia Kwacha – ZMK</option>
                            </select>
                        </div>
                        <div class="inputconatiner">
                          
                            <input type="text" id="national_id" placeholder="SSN/National_ID">
                        </div>
                        <div class="inputconatiner">
                          
                            <input type="text" id="employer_address" required>
                        </div>
                        <div class="inputconatiner">
                          
                            <select required id="employ_type">
                                <option value="">Type of Employment</option>
                                <option value="self Employed">Self Employed</option>  
                                <option value="Public/Government Office">Public/Government Office</option>  
                                <option value="P/Partnership Office">P/Partnership Office</option>  
                                <option value="Business/Sales">Business/Sales</option>  
                                <option value="Trading/Market">Trading/Market</option>  
                                <option value="Military/Paramilitary">Military/Paramilitary</option>
                                <option value="Politician/Celebrity">Politician/Celebrity</option>
                            </select>
                        </div>
                        <div class="inputconatiner">
                         
                            <select required id="salary">
                                <option value="">Select Salary Range</option>
                                <option value="$100.00 - $500.00">$100.00 - $500.00</option> 
                                <option value="$700.00 - $1,000.00">$700.00 - $1,000.00</option> 
                                <option value="$1,000.00 - $2,000.00">$1,000.00 - $2,000.00</option> 
                                <option value="$2,000.00 - $5,000.00">$2,000.00 - $5,000.00</option> 
                                <option value="$5,000.00 - $10,000.00">$5,000.00 - $10,000.00</option> 
                                <option value="$15,000.00 - $20,000.00">$15,000.00 - $20,000.00</option> 
                                <option value="$25,000.00 - $30,000.00">$25,000.00 - $30,000.00</option> 
                                <option value="$30,000.00 - $70,000.00">$30,000.00 - $70,000.00</option> 
                                <option value="$80,000.00 - $140,000.00">$80,000.00 - $140,000.00</option> 
                                <option value="$150,000.00 - $300,000.00">$150,000.00 - $300,000.00</option> 
                                <option value="$300,000.00 - $1,000,000.00">$300,000.00 - $1,000,000.00</option> 
                        </select>
                        </div>
                        <div class="inputconatiner">
                            <input type="text" id="name_kin" required>
                        </div>
                        <div class="inputconatiner">
                            <input type="text" id="kin_work" required>
                        </div>
                        <div class="inputconatiner">
                            <i class='bx bx-hide'></i>
                            <input type="password" id="password" placeholder="Password">
                        </div>
                        <div class="inputconatiner">
                            <select required id="account_type">
                                <option value="">Please select Account Type</option>
                                <option value="">Account Type</option>
                                <option value="Checking Account">Checking Account</option>
                                <option value="Savings Account">Saving Account</option>
                                <option value="Fixed Deposit Account">Fixed Deposit Account</option>
                                <option value="Current Account">Current Account</option>
                                <option value="Business Account">Business Account</option>
                                <option value="Non Resident Account">Non Resident Account</option>
                                <option value="Cooperate Business Account">Cooperate Business Account</option>
                                <option value="Investment Account">Investment Account</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="actionbtns">
                        <a onclick="Signup()" class="button signinbtn">Sign Up
                            <i class='bx bx-right-arrow-alt' id="arrow" ></i>
                            <i class='bx bx-loader-alt bx-spin bx-rotate-90' style="display: none;" id="spin"></i>
                        </a>
                    </div>
        
                    <div class="links">
                        <a href="/forgot">Forgot your password </a>
                        <a href="/signin">Already have an account ? Sign in</a>
                    </div>
                </div>
                </div>
           </div>
       </div>
    </div>

    {% include "chat.html" %}

    <script src="{{url_for('static',filename='assets/js/axios.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/auth.js')}}"></script>
    <script src="static/assets/js/custom.js"></script>


</body>
</html>